nav {
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #043353;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.nav_logo {
  width: 50px;
  height: 50px;
}

.nav_items button.btn {
  margin: 0 4px;
}

.search_box {
  width: auto;
  height: 30px;
  position: relative;
  margin-left: 136px;
}

.search_box input {
  width: 100%;
  min-width: 200px;
  max-width: 470px;
  height: 100%;
  background-color: #CBEAFF;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 15px;
}

.search_box button#search_btn {
  height: 30px;
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
}

.search_box button#search_btn i {
  font-size: 20px;
  color: #757575;
  position: relative;
}

@media (max-width: 730px) {
  .search_box input {
    min-width: 0px;
    max-width: 0px;
    background-color: transparent;
  }

  .search_box button#search_btn {
    padding: 0;
    width: 30px;
  }

  .search_box button#search_btn i {
    color: #FAF8F0;
  }
}

@media (max-width: 570px) {
  .search_box {
    margin: 0;
  }
}