.playlist {
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: 0;
  margin: 0;
}

.playlist li {
  list-style: none;
  width: 100%;
  max-width: 140px;
  padding: 0 5px;
}

.playlist .list_artwork img {
  border-radius: 10px;
  z-index: 2;
}

.playlist h4,
.playlist h5 {
  margin: 0;
  font-weight: unset;
}

.playlist h5 {
  color: #696969;
}

.list_artwork {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.playlist .list_backdrop {
  display: flex;
  text-align: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: 1;
  background: linear-gradient(to top, #1C1C1C, #00000099);
  opacity: 0;
  transition: 0.6s !important;
  cursor: pointer;
}

.playlist .list_backdrop:hover {
  opacity: 1;
}

.list_artwork i {
  width: 100%;
  font-size: 2.5em;
}

header h2 {
  text-transform: uppercase;
  color: #18a4e0;
  font-weight: unset;
}

@media (max-width: 900px) {
  body main {
    padding: 100px 50px;
  }
}

@media (max-width: 660px) {
  body main {
    padding: 100px 20px;
  }
}

@media (max-width: 580px) {
  body main {
    padding: 100px 10px;
  }
}